html{
    box-sizing: border-box;
}
.w{
    width: 1200px;
    margin: 0 auto;
    color: #666;
}
a{
    text-decoration: none;
    color: #666;
}

input:focus,
button:focus{
    padding: none;
    outline: none;
}

